node_modules/
dist/
dist-ssr/
*.local

# env
.env
.env.local

# Nest/Prisma
/apps/api/generated/prisma
/apps/api/dev.db
/apps/api/dev.db-journal
/apps/api/uploads/

# editors / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# logs
*.log
npm-debug.log*
